<div class="jumbotron shadow pt-3 pl-5 pr-5 mb-5 rounded animated fadeIn">
  <h1 class="display-4">Bienvenido(a) a comicApp</h1>

  <p class="lead">
    Ésta es una App simple, con la finalidad de mostrar el funcionamiento de una
    S.P.A (single-page application) o aplicación de página única, es una
    aplicación web que cabe en una sola página con el propósito de dar una
    experiencia más fluida a los usuarios y mucho más veloz que una app web
    normal.
  </p>
  <hr class="my-4" />
  <p>
    Usa el siguiente botón si deseas ver el funcionamiento de la S.P.A. ComicApp
  </p>

  <a type="button" class="btn btn-outline-info" [routerLink]="['/heros']"
    >Ver más...</a
  >
</div>
