<div class="card shadow p-3 mb-5 bg-white rounded tra">
  <img [src]="hero.img" class="card-img-top" [alt]="hero.nombre" />
  <div class="card-body">
    <h5 class="card-title">{{ hero.nombre | uppercase }}</h5>
    <p class="card-text">{{ hero.bio | slice: 0:180 }}...</p>
    <p class="card-text">
      <small class="text-muted"
        >{{ hero.casa }} | {{ hero.aparicion | date: "y" }}</small
      >
    </p>
  </div>

  <!--<button class="btn btn-outline-info btn-block">Ver detalle</button> -->
  <a
    type="button"
    class="btn btn-outline-info btn-block"
    (click)="myHero(hero.nombre)"
    >Ver más...</a
  >
</div>
