<footer class="text-center mb-0 text-lg-start bg-dark">
    <!-- Copyright -->
    <div class="container text-white p-3 alinear-final" style="width: 100% !important">
      Desarrollado por <strong> &copy; 24Bytes {{ anio }} </strong> ||
      <span style="font-size: 10px;">Repositorio / Portafolio Alexis Dorado..</span>
    </div>
    <!-- Copyright -->
</footer>

<!---
<p class="vertical-centro text-end mr-5">Desarrollado por <strong> &copy; 24Bytes {{ anio }} </strong> ||
<span style="font-size: 10px;">Repositorio / Portafolio Alexis Dorado.</span>
</p>
-->


